doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/layout.css')
    
  body
    each pregunta in lista
      .container
        .row
          .col.s9
            h5.blue-text.text-darken-2 #{pregunta.titulo}
            a(href) #{pregunta.tags}
          .col.s3
            p.right-align #{pregunta.respuestas}
            h6.right-align respuestas 
            p.right-align #{pregunta.fecha}
